{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <h1>This will be the cotact page</h1>
        </div>
        <div class="row">
            <div class="col">
                <img src="/static/images/room.jpg" alt="room" class="room-img">
            </div>
            <div class="col">
                <h2>Our Address</h2>
                <p>1234 Main Street</p>
                <p>City, State, 12345</p>
                <p>Phone: 123-456-7890</p>
                <p>Email:</p>
            </div>
        </div>
        <div class="row">

        </div>



    </div>
{{end}}
